body {
    font-size: 20px;
    background-color: black;
    color: white;
}

.RunButton {
    background-color: blue;
    color: white;
    border-radius: 10px;
    height: 30px;
    width: 180px;
}

.input {
    background-color: black;
    border-color: white;
    color: white;
}